@{
    Layout = null;
}

<div class="row">
 
    <van-grid column-num="3">
        <van-grid-item icon-prefix="fa" icon="first-order" style="color:#0094ff;" text="设计方案" to="/Views/AppBusiness/Solution"></van-grid-item>
        <van-grid-item icon-prefix="fa" icon="cubes" style="color:#0094ff;" text="基础配置" to="/Views/AppBaseConfig/PointerTypeConfig"></van-grid-item>
        <van-grid-item icon-prefix="fa" icon="reddit-alien" text="商品配置" style="color:#0094ff;" :to="{ name: 'sys-commodity'}"></van-grid-item>
    </van-grid>
</div>
