@{
    ViewBag.Title = "WebApiTest";
}

<div id="WebApiApp">
    <el-tabs v-model="activeTabName" type="card">
        <el-tab-pane label="webApiTest" name="webApiTest">
            <el-form v-bind:model="webApiFormData"
                     ref="formWebApi"
                     label-position="left"
                     v-bind:inline="true"
                     v-bind:status-icon="true"
                     size="medium"
                     label-suffix=":"
                     label-width="120px">
                <el-form-item label="api服务名称" prop="apiActionUrl" style="width:100%">
                    <el-input v-model="webApiFormData.apiActionUrl" style="width:725px;" clearable suffix-icon="fa fa-envelope-o ">
                        <el-form-item label="" prop="actionType" slot="prepend">
                            <el-select v-model="webApiFormData.actionType"
                                       default-first-option
                                       clearable
                                       style="width:100px"
                                       placeholder="请选择">
                                <el-option label="POST" value="POST"></el-option>
                                <el-option label="GET" value="GET"></el-option>
                                <el-option label="PUT" value="PUT"></el-option>
                                <el-option label="DELETE" value="DELETE"></el-option>
                            </el-select>
                        </el-form-item>
                        <template slot="append">
                            <el-button type="primary" v-on:click="doWebApiAction()">获取服务返回结果</el-button>
                        </template>
                    </el-input>
                </el-form-item>

                <el-form-item label="返回值" prop="returnData">
                    <el-input type="textarea" v-model="webApiFormData.returnData" style="width:725px" :autosize="{ minRows: 5}" clearable>
                    </el-input>
                </el-form-item>

            </el-form>
        </el-tab-pane>
        <el-tab-pane label="abpToken" name="abpToken">
            <el-form v-bind:model="abpFormData"
                     ref="formAbp"
                     label-position="left"
                     v-bind:inline="true"
                     v-bind:status-icon="true"
                     size="medium"
                     label-suffix=":"
                     label-width="120px">

                <el-form-item label="用户账号" prop="userCode" style="width:48%">
                    <el-input v-model="abpFormData.userCode" style="width:280px;" suffix-icon="fa fa-id-badge">
                    </el-input>
                </el-form-item>

                <el-form-item label="用户密码" prop="password" style="width:48%">
                    <el-input v-model="abpFormData.password" style="width:280px;;" clearable suffix-icon="fa fa-id-card-o">
                    </el-input>
                </el-form-item>

                <el-form-item label="api服务地址" prop="apiUrl" style="width:100%">
                    <el-input v-model="abpFormData.apiUrl" style="width:725px;;" clearable suffix-icon="fa fa-envelope-o ">
                        <template slot="append">
                            <el-button type="primary" v-on:click="doAbpToken()">获取ToKen/ForgeToKen</el-button>
                        </template>
                    </el-input>
                </el-form-item>

                <el-form-item label="授权ToKen" prop="token">
                    <el-input type="textarea" v-model="abpFormData.token" style="width:725px;" v-bind:autosize="{ minRows: 3}">
                    </el-input>
                </el-form-item>


                <el-form-item label="授权ToKen(加密后的)" prop="encryptedAccessToken">
                    <el-input type="textarea" v-model="abpFormData.encryptedAccessToken" style="width:725px;" v-bind:autosize="{ maxRows: 2}">
                    </el-input>
                </el-form-item>
             
                <el-form-item label="授权有效期" prop="expireInDate">
                    <el-input v-model="abpFormData.expireInDate" style="width:280px;" clearable></el-input>
                </el-form-item>

                <el-form-item label="api服务名称" prop="apiActionUrl" style="width:100%">
                    <el-input v-model="abpFormData.apiActionUrl" style="width:725px;;" clearable suffix-icon="fa fa-envelope-o ">
                        <template slot="append">
                            <el-button type="primary" v-on:click="doAbpAction()">获取服务返回结果</el-button>
                        </template>
                    </el-input>
                </el-form-item>

                <el-form-item label="返回值" prop="returnData">
                    <el-input type="textarea" v-model="abpFormData.returnData" style="width:725px" :autosize="{ minRows: 5}" clearable>
                    </el-input>
                </el-form-item>

            </el-form>
        </el-tab-pane>
        <el-tab-pane label="OAuth2.0" name="OAuth">
            <el-form v-bind:model="oAuthFormData"
                     ref="formOAuth"
                     label-position="left"
                     v-bind:inline="true"
                     v-bind:status-icon="true"
                     size="medium"
                     label-suffix=":"
                     label-width="120px">

                <el-form-item label="用户账号" prop="userCode" style="width:48%">
                    <el-input v-model="oAuthFormData.userCode" style="width:280px;" suffix-icon="fa fa-id-badge">
                    </el-input>
                </el-form-item>

                <el-form-item label="用户密码" prop="password" style="width:48%">
                    <el-input v-model="oAuthFormData.password" style="width:280px;;" clearable suffix-icon="fa fa-id-card-o">
                    </el-input>
                </el-form-item>

                <el-form-item label="api服务地址" prop="apiUrl" style="width:100%">
                    <el-input v-model="oAuthFormData.apiUrl" style="width:725px;;" clearable suffix-icon="fa fa-envelope-o ">
                        <template slot="append">
                            <el-button type="primary" v-on:click="doOAuthToken()">获取ToKen/ForgeToKen</el-button>
                            <el-button>|</el-button>
                            <el-button v-on:click="doRefreshToken()">刷新ToKen/ForgeToKen</el-button>
                        </template>
                    </el-input>
                </el-form-item>

                <el-form-item label="授权ToKen" prop="token">
                    <el-input type="textarea" v-model="oAuthFormData.token" style="width:725px;" :autosize="{ minRows: 5}">
                    </el-input>
                </el-form-item>

                <el-form-item label="刷新resToken" prop="resToken">
                    <el-input type="textarea" v-model="oAuthFormData.resToken" style="width:725px;" :autosize="{ minRows: 2}">
                    </el-input>
                </el-form-item>

                <el-form-item label="反伪造ToKen" prop="forgeToKen">
                    <el-input type="textarea" v-model="oAuthFormData.forgeToKen" style="width:725px;" :autosize="{ minRows: 1}" placeholder="反伪造forgeToKen(这货似乎没意义)">
                    </el-input>
                </el-form-item>

                <el-form-item label="api服务名称" prop="apiActionUrl" style="width:100%">
                    <el-input v-model="oAuthFormData.apiActionUrl" style="width:725px;" clearable suffix-icon="fa fa-envelope-o ">
                        <template slot="append">
                            <el-button type="primary" v-on:click="doOAuthAction()">获取服务返回结果</el-button>
                        </template>
                    </el-input>
                </el-form-item>

                <el-form-item label="返回值" prop="returnData">
                    <el-input type="textarea" v-model="oAuthFormData.returnData" style="width:725px" :autosize="{ minRows: 5}" clearable>
                    </el-input>
                </el-form-item>

            </el-form>
        </el-tab-pane>
        
    </el-tabs>

</div>
