@{
    Layout = null;
}

<div>

    <van-nav-bar title="新增指标"
                 left-text="返回"
                 right-text="保存"
                 left-arrow
                 v-bind:fixed="true"
                 v-on:click-left="onClickLeft"
                 v-on:click-right="onClickRight">
    </van-nav-bar>
    <div style="height:50px;">&nbsp;</div>

    <van-form ref="formEl" v-on:submit="doSubmit">
        <van-field readonly
                   clickable
                   name="categoryCode"
                   v-model="formData.categoryName"
                   label="品类"
                   placeholder="点击选择品类"
                   v-bind:rules="formRules.required"
                   v-on:click="formItem.showPointerType = true">
        </van-field>
        <van-popup v-model="formItem.showPointerType" position="bottom">
            <van-picker show-toolbar
                        title="品类"
                        v-bind:default-index="pointerTypeIndex"
                        v-bind:columns="pointerTypeData"
                        value-key="dictContent"
                        v-on:confirm="doConfirmPointer"
                        v-on:cancel="formItem.showPointerType = false">
            </van-picker>
        </van-popup>

        <van-field v-model="formData.itemName"
                   name="itemName"
                   label="项目名称"
                   placeholder="项目名称"
                   maxlength="40"
                   v-bind:rules="formRules.required">
        </van-field>

        <van-field v-model="formData.classifyName"
                   name="classifyName"
                   label="空间/分类"
                   placeholder="空间/分类"
                   maxlength="40"
                   v-bind:rules="formRules.required">
        </van-field>

        <van-field readonly
                   clickable
                   name="unitCode"
                   v-model="formData.unitName"
                   label="单位"
                   placeholder="点击选择单位"
                   v-bind:rules="formRules.required"
                   v-on:click="formItem.showUnit = true">
        </van-field>
        <van-popup v-model="formItem.showUnit" position="bottom">
            <van-picker show-toolbar
                        title="单位"
                        v-bind:default-index="unitIndex"
                        v-bind:columns="unitData"
                        value-key="dictContent"
                        v-on:confirm="doConfirmUnit"
                        v-on:cancel="formItem.showUnit = false">
            </van-picker>
        </van-popup>

        <van-field name="switch" label="是否启用">
            <template v-slot:input>
                <van-switch v-model="formData.isActive" size="20" />
            </template>
        </van-field>

        <div style="margin: 16px;">
            <van-button round block type="info" native-type="submit">提交</van-button>
        </div>
    </van-form>

</div>
