/OcelotGateway/AuthorizationService/.vs

/OcelotGateway/OcelotGateway/.vs
/OcelotGateway/AuthorizationService/WebApiAuthService/bin
/OcelotGateway/AuthorizationService/WebApiAuthService/obj
/OcelotGateway/OcelotGateway/OcelotGateway/bin
/OcelotGateway/OcelotGateway/OcelotGateway/obj
/OcelotGateway/OcelotGateway/WebApiTest/obj
/OcelotGateway/OcelotGateway/WebApiTest/bin
/OcelotGateway/OcelotGateway/MicroServiceB/bin
/OcelotGateway/OcelotGateway/MicroServiceB/obj
/OcelotGateway/OcelotGateway/MicroServiceA/bin
/OcelotGateway/OcelotGateway/MicroServiceA/obj
/OcelotGateway/OcelotGateway/MicroServiceA/bin
/OcelotGateway/OcelotGateway/MicroServiceA/obj
