<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>WebApiTest</title>
    <script src="~/Abp/jQuery/jquery.js"></script>

    <script src="~/Abp/Framework/scripts/abp.js"></script>
    <script src="~/Abp/Framework/scripts/libs/abp.jquery.js"></script>

    <script src="~/Abp/vue/vue.js"></script>
    <link href="~/Abp/ElementUI/theme-chalk/index.css" rel="stylesheet" />
    <script src="~/Abp/ElementUI/index.js"></script>
    
</head>
<body>
    <div style="margin: 0 auto;width: 900px; ">
        @RenderBody()
    </div>
    <script src="~/Abp/index.js"></script> 
</body>
</html>