@{
    Layout = null;
}

<div>
    

    <geetest-plug v-on:doPostCallback="doPostCallback"></geetest-plug>
    

    <el-button size="mini" type="primary" icon="fa fa-file-text-o fa-lg " v-on:click="doSubmit()">登录操作</el-button>

    <p>官网 https://docs.geetest.com/index</p>
    <p>账号 7256776@qq.com</p>
    <span style="display:none;">5demima</span>
</div>


