@{
    Layout = null;
}
 
<div>
    <!--ref="formUserDataEx" -->
    <el-form v-bind:rules="formRulesEx"
             v-bind:model="formDataEx"
             label-position="left"
             v-bind:inline="true"
             v-bind:status-icon="true"
             size="medium"
             label-suffix=":"
             label-width="100px">

        <!--<el-form-item label="扩展内容1" prop="userCodeEx">
            <el-input v-model="formDataEx.userCodeEx" style="width:165px" suffix-icon="fa fa-id-badge" v-bind:maxlength="30">
            </el-input>
        </el-form-item>
        <el-form-item label="扩展内容2" prop="userNameEx">
            <el-input v-model="formDataEx.userNameEx" style="width:165px" suffix-icon="fa fa-id-badge" v-bind:maxlength="30">
            </el-input>
        </el-form-item>-->
    </el-form>

</div>
 
