@{
    Layout = null;
}
 
    <!-- class 添加 "hide" 设置隐藏 -->
<div class="btn-group ">
    <button type="button" class="btn red-haze btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
        <span class="hidden-sm hidden-xs">活动&nbsp;</span>
        <i class="fa fa-angle-down"></i>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li>
            <a href="javascript:;">
                <i class="fa fa-bell fa-fw"></i> 成功提示
                <span class="badge badge-success">2</span>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <i class="fa fa-bell fa-fw"></i> 主要提示
                <span class="badge badge-primary">2</span>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <i class="fa fa-bell fa-fw"></i> 警告提示
                <span class="badge badge-warning">2</span>
            </a>
        </li>
        <li class="divider"> </li>
        <li>
            <a href="javascript:;">
                <i class="fa fa-bell fa-fw"></i> 普通消息
                <span class="badge badge-info ">2</span>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <i class="fa fa-bell fa-fw"></i> 危险提示
                <span class="badge badge-danger">2</span>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <i class="fa fa-bell fa-fw"></i> 默认提示
                <span class="badge badge-default">2</span>
            </a>
        </li>
    </ul>
</div>
 
